= render partial:"sidebar"

.main
  .main-header
    .main-header__left-box
      .main-header__left-box__group-name
        = @group.name
      .main-header__left-box__members
        Member:
        - @group.users.each do |user|
          = user.name
    =link_to edit_group_path(@group), class:"btn main-header__edit-btn" do
      Edit
  .messages
    = render @messages
  .form
    = form_for [@group, @message] do |f|
      = f.text_field :body, class: "form__box", placeholder: "type a message"
      .form__text
        = f.label :image, class:'form__text__img' do
          = fa_icon "image", class:"fa fa-image icon" 
          = f.file_field :image, class: 'hidden'
      = f.submit 'Send', class: 'form__submit'